<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QuanlyNhahang.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="desktop-l858308\phuc.QLNH.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-L858308\PHUC;integrated security=SSPI;initial catalog=QLNH" />
        <add name="QuanlyNhahang.Properties.Settings.QLNHConnectionString1"
            connectionString="Data Source=DESKTOP-L858308\PHUC;Initial Catalog=QLNH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <QuanlyNhahang.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value />
            </setting>
            <setting name="a" serializeAs="String">
                <value />
            </setting>
            <setting name="v" serializeAs="String">
                <value />
            </setting>
        </QuanlyNhahang.Properties.Settings>
    </userSettings>
</configuration>
